NIC router: check all RFC conditions on ICMP errors

The NIC router currently checks only whether an unroutable packet is not IPv4 multicast before responding with an ICMP error. However, RFC 1812 section 4.3.2.7 defines some more preconditions. These should be checked as well. Also the ICMP error functionality of the router could be made configurable via a boolean domain-local attribute in the course of this issue.